.home-page--container {
  position: absolute;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}

.home-page--nav {
  height: 30vw;
  margin-top: 0;
  padding: 0;
  background: url('../../assets/img/main-background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.home-page--info {
  margin: 0;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background: #e6e6e6;
}

.home-page--offer {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 3vw;
  font-size: 5vw;
  color:#2d5986;
}

.home-page--main {
  display: flex;
  flex-direction: row;
  width: 100%;
  vertical-align: middle;
}

