.make-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5% auto;
}

.make-container p {
  font-weight: bold;
}

.make-search {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between; 
  width: 100%;
  margin: 2% auto;
}

.make-search input {
  width: 70%;
}

.make-list ul {
  padding: 0%;
  list-style-type: none;
}

.make-list li {
  margin: 1% auto;
  text-align: justify;
}

.make-list button {
 margin-right: 0;
}